<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">    
    <title>Chat</title>
    <style>
        #chat{
            max-height: 400px;
            min-height: 400px;
            background-color: aliceblue;
            overflow-y: scroll;
        }
    </style>
</head>

<body>
    <h1>Chat ON!</h1>
    <div id="chat">

    </div>
    <input class="form-control" type="text" name="" id="msg" placeholder="Msg..."><br>
    <input class="form-control" type="text" name="" id="username" placeholder="Nome de usuário">
    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="enviar()">Enviar</button>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
<script>
    let socket = io("http://localhost:8080/");
    socket.on("disconnect", () => {
        console.log("Desconectado");
    });

    socket.on("showmsg", (data) => {
        console.log(data);

        let chat = document.getElementById("chat");
        let p = document.createElement("p");
        p.innerHTML = data.username + ": " + data.msg;
        chat.append(p);


    });

    function enviar() {
        let msg = document.getElementById("msg").value;
        let username = document.getElementById("username").value;

        socket.emit("msg", { msg: msg, username: username });

    }

</script>

</html>